main {
    height: calc(100% - 110px) !important;
    background: none
}


.project-container {
    height: 100%;
    width: 100%;
    background-image: url('../../interior-noite.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.project-container>* {
    z-index: 2;
}

.background {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100%);
    /* background: rgba(0, 0, 0, 0.8); */
    background: black;
    opacity: 0.8;
    z-index: 1 !important;
}

header {
    height: 110px !important;
    filter: contrast(2) saturate(-0) !important;
}

body {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background: black
}

@media (min-width: 1000px){
    header{
        height: 130px !important; 
    }
}