main {
    height: 679px !important
}

.main-container {
    width: calc(100% - 80px);
    margin-left: 80px;
    height: 100%;
    display: flex;
}

.main-left {
    width: 35%;
    height: 100%;
}

.main-right {
    width: 65%;
    height: 100%;
}

#home-slogan {
    width: 500px !important;
}

#home-sub-description {
    font-family: 'qs-base';
    color: var(--brown);
    font-size: 28px;
    font-weight: 600;
    margin: 0;
    padding-bottom: 20px;
    position: relative
}

#home-sub-description::before {
    content: '';
    position: absolute;
    height: 3px;
    width: 75px;
    bottom: 0;
    background: var(--yellow);
}

#home-slogan{
    padding-bottom: 0px !important
}

#about-text{
    font-family: 'qs-base';
    color: var(--blue);
    font-size: 17px;
    width: 482px;
}