@media (max-width: 1000px) {
    #desktop-sobre-pictures {
        display: none !important;
    }
}


#desktop-sobre-pictures {
    margin-right: -1px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.desktop-sobre-pictures-upper {
    height: 45%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../../fachada2.jpeg);
    /* background-position-y: -130px; */
    background-position-y: bottom;
}

.desktop-sobre-pictures-mid {
    height: 27.5%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.desktop-sobre-pictures-lower {
    height: 27.5%;
    width: 100%;
    display: flex;
}


.phrase-container {
    width: 33.3%;
    height: 100%;
    background: var(--green);
    display: flex;
    justify-content: center;
    align-items: center;
}

.phrase-content {
    width: 80%;
    height: 75%;
    /* background: orange; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.phrase-icon {
    font-family: 'sephora';
    color: var(--brown);
    height: fit-content;
    width: 100%;
    height: 46px;
    /* background: black; */
    position: relative;

}

.phrase-icon char {
    font-size: 150px;
    /* background: red; */
    height: 60px;
    position: absolute;
    top: -20px;
    left: -20px
}

.phrase-container p {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'qs-base';
    color: white;
    font-size: 14px;
}

.mid-picture {
    width: 39.3%;
    height: 100%;
    background-image: url(../../desktop-mid-image-sobre.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.bottom-info-container {
    width: 66.6%;
    height: 100%;
    background: url(../../texture-sobre.png);
    background-size: 87%;
    display: flex;
    flex-direction: column;
}

.bottom-info-top {
    height: 35%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.bottom-info-top h1 {
    margin: 0;
    padding: 0;
    font-family: 'tropical';
    text-transform: uppercase;
    font-size: 15px;
    color: var(--green);
    margin-bottom: 15px;
    position: relative;
}

.bottom-info-top h1:before {
    content: '';
    position: absolute;
    height: 3px;
    width: 30px;
    background: var(--green);
    bottom: -10px;
    left: calc(50% - 15px);
}

.bottom-info-bottom {
    height: 65%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.desktop-info-card {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.desktop-info-card img {
    width: 50% !important;
}

.desktop-info-card p {
    text-align: center;
    width: 80%;
    padding: 0;
    margin: 0;
    font-size: 11px;
    font-family: 'qs-base';
    color: var(--green)
}

.bottom-picture {
    width: 38.3%;
    height: 100%;
    background: url(../../mid-image-sobre.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.overlapping-image {
    aspect-ratio: 1/1;
    position: relative;
}

.overlapping-image img {
    position: absolute;
    width: 110% !important;
    left: -10px;
    object-fit: cover;
    height: auto;
    margin-top: -5px;
}

@media (min-width: 1400px) {
    .sobre-upper-right {
        width: 45%;
        max-width: 940px !important;
        height: 100%;
    }

    .desktop-sobre-pictures-upper {
        height: 48%;
    }

    .desktop-sobre-pictures-mid {
        height: 26%;
    }

    .desktop-sobre-pictures-lower {
        height: 26%;
    }

    .overlapping-image img {
        left: -18px;
    }
}