#page-welcome {
    width: 126px;
}

.sobre-upper {
    width: calc(100% - 20px);
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    height: fit-content;
}

.sobre-title {
    width: 100%;
}

.sobre-upper-left {
    width: 57%
}

.sobre-upper-right {
    width: 40%;
    height: 155px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 180px;
}

.sobre-upper-right img:nth-child(1) {
    width: 94%;
}

.sobre-upper-right img:nth-child(2) {
    width: 94%;
}

.sobre-upper-right img:nth-child(3) {
    width: 100%;
}

.sobre-title-text {
    margin: 25px 0 0 0;
    width: 100%;
    line-height: 14px;
    font-size: 9.5px;
    text-align: justify;
    margin-bottom: -18px;
}

.sobre-lower {
    width: calc(100% - 20px);
    margin-top: 20px;
    height: 62px;
    opacity: 70%;
}

.text-footer-image-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

#text-footer-image {
    width: 140px;
}

@media (min-width: 1000px) {
    .sobre-upper{
        height: calc(100% - 55px);
    }

    .page-title.sobre-title {
        font-size: 45px;
    }

    #page-welcome {
        width: 210px !important;
    }

    .page-subtitle {
        font-size: 19px;
    }

    .sobre-title-text {
        font-size: 14px;
        line-height: 21px;
        margin-bottom: -15px;
        width: 95%;
    }

    .sobre-upper-left {
        width: 45%;
    }

    .mobile-sobre-pic {
        display: none;
    }

    .sobre-upper-right {
        width: 50%;
        max-width: 522px !important;
        /* height: calc(100% - 100px - 130px); */
        height: calc(100% + 20px);
        max-width: none;
        background-color: gainsboro;
        margin-top: -20px;
    }

    .text-footer-image-container {
        width: 90%;
    }

    #text-footer-image {
        width: 250px;
        margin-top: -20px;
        opacity: 55%;
    }
}

@media (min-width: 1400px) {
    .page-title.sobre-title {
        font-size: 72px;
        width: 900px
    }

    .sobre-upper {
        width: calc(100% - 150px);
        height: 100%;
        justify-content: space-between;
    }

    .sobre-subtitle {
        font-size: 30px;
    }

    .sobre-title-text {
        font-size: 25px !important;
        line-height: 45px !important;
        margin-bottom: 15px
    }

    .sobre-upper-left {
        width: calc(55%)
    }

    .sobre-upper-right {
        height: calc(100% - 35px);
        min-width: 752px;
    }

    .desktop-sobre-pictures-upper {
        background-position-y: -275px;
    }

    .bottom-picture {
        background-position-x: center !important;
    }

    .bottom-info-top{
        height: 20% !important;
    }

    .desktop-info-card p {
        font-size: 17px !important;
        /* background: white; */
        width: 150px !important;
    }

    .phrase-content p{
        font-size: 20px !important;
    }
}