:root {
    --orange: #A25C2B;
    --brown: #943F2A;
    --blue: #1B3550;
    --yellow: #f0b53c;
    --green: #445833;
    --paddingMobile: calc(100% - 40px)
}


body {
    display: flex;
    flex-wrap: wrap;
}

body,
html {
    height: 100dvh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background: var(--green);
}

html{
    display: none;
}

#selected {
    position: relative;
}

#selected::before {
    content: '';
    position: absolute;
    height: 3px;
    width: 100%;
    bottom: -13px;
    background: var(--yellow);
}

@font-face {
    font-family: 'apple';
    src: url(../AppleGaramond-Light.ttf);
}

@font-face {
    font-family: 'quay';
    src: url('../Quaaykop.otf');
}

@font-face {
    font-family: 'qs-strong';
    src: url('../Quicksand_Bold.otf');
}

@font-face {
    font-family: 'qs-base';
    src: url('../Quicksand_Book.otf');
}

@font-face {
    font-family: 'tropical';
    src: url("../tropical.ttf");
}

@font-face {
    font-family: "sephora";
    src: url("../Sephora & Hayden.ttf");
}

a {
    cursor: pointer !important;
    -webkit-tap-highlight-color: transparent;
    outline: none
}

a:active {
    outline: none
}

@media(max-width: 1300px) {
    a span {
        transform: translateY(1.5px)
    }
}

@media (min-width: 1300px) {
    body {
        flex-direction: column;
        flex-wrap: nowrap;
        overflow: hidden;
    }
}

@media (min-width:1400px) and (min-height: 900px) {
    :root {
        --paddingMobile: calc(100% - 300px)
    }

    html {
        zoom: 80%
    }

    body {
        height: 125dvh;
    }
}