:root{
    --orange: #A25C2B;
    --brown: #943F2A;
    --blue: #1B3550;
    --yellow: #f0b53c;
    --green: #445833;
}


body, html{
    margin: 0;
    padding: 0;
    background-image: url('../paper.png'); 
}

@font-face {
    font-family: 'apple';
    src: url(../AppleGaramond-Light.ttf);
}

@font-face {
    font-family: 'quay';
    src: url('../Quaaykop.otf');
}

@font-face {
    font-family: 'qs-strong';
    src: url('../Quicksand_Bold.otf');
}

@font-face {
    font-family: 'qs-base';
    src: url('../Quicksand_Book.otf');
}

@font-face {
    font-family: 'tropical';
    src: url("../tropical.ttf");
}