header {
    width: 100%;
    height: 260px;
    /* background-color: purple; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.header-pattern {
    width: 100%;
    height: 50px;
    background-image: url('../blue-pattern.png');
    background-size: 240px;
}

.header-navigation {

    height: calc(100% - 50px);
    width: calc(100% - 160px);
    /* background: orange; */
    justify-content: space-between;
    display: flex;
}

.header-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#header-logo-badge {
    width: 50px;
    margin: 20px 0 10px 0;
}

#header-logo-logo {
    width: 200px;
}

#header-logo-since {
    color: var(--orange);
    margin: 5px 0 0 0;
    font-family: 'Sans-serif';
}

.header-navigation-list {
    /* background: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 66%
}

.header-navigation-list ul {
    width: 100%;
    list-style: none;
    display: inherit;
    justify-content: space-around;
}

.header-navigation-list ul li a {
    text-decoration: none;
    color: var(--blue);
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: 700;
}

#project-link a {
    background: var(--blue);
    color: white;
    padding: 15px 40px;
    border-radius: 10px;
    position: relative;
}

#project-link a span{
    margin-left: 20px;
}

#project-link img {
    width: 25px;
    position: absolute;
    left: 20px;
    top: 10px;
}