/* Mobile first */
header {
    background: var(--blue);
    width: 100%;
    background-image: url(../../shard-transparent.png);
    background-repeat: no-repeat;
    background-position: right;
    background-position-x: 132%;
    background-position-y: -25px;
    background-size: 250px;
}

#header-pattern {
    width: 100%;
    height: 45px;
    background-image: url(../blue-pattern.png);
    background-size: 309px;
    background-position-y: -4px;
    background-position-x: 26px;
    background-repeat: repeat-x;
    /* -webkit-box-shadow: 0px -3px 17px -2px #000000; */
    box-shadow: 0px -3px 17px -2px #000000;
    z-index: 2;
    position: relative;
}

#header-navigation {
    margin: 0 auto;
    width: var(--paddingMobile);
    height: fit-content;
    /* border-bottom: 1px solid red; */
    display: flex;
    align-items: center;
}

#header-logo {
    height: fit-content;
    width: fit-content;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 10px;
    text-decoration: none;
    /* background: blue; */
}

#header-logo-badge {
    width: 25px;
    margin-bottom: 2px;
}

#header-logo-image {
    width: 80px;
}

#header-logo-since {
    font-family: 'qs-base';
    color: #ffffff94;
    font-size: 10px;
    margin: 0;
    margin-left: 10px;
    margin-top: 0px;
    width: 65px;
}

.desktop-navigation-button {
    display: none;
}

#header-navigation-buttons {
    /* background: gold; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 25px;
}

#project-navigation-button {
    z-index: 2;
    padding: 10px 15px;
    font-size: 12px;
    background: white;
    border-radius: 5px;
    color: var(--blue);
    text-decoration: none;
    font-family: 'qs-base';
    text-transform: uppercase;
    display: flex;
    align-items: center;
    margin-right: 20px;
}

#project-navigation-button img {
    width: 16px;
    margin-right: 8px;
}

#project-navigation-expand {
    z-index: 2;
    color: white;
    font-size: 35px;
}

@media (min-width: 1000px) {
    header {
        height: 130px;
        margin-bottom: -1px;
        background-position: right;
        background-position-y: -10px;
        background-size: 250px;
    }

    #header-logo {
        flex-direction: row;
    }

    #header-logo-badge {
        width: 37px
    }

    #header-logo-image {
        width: 118px;
        margin-right: 20px;
    }

    #header-logo-since {
        font-size: 12px;
        width: 100px;
    }

    #project-navigation-button {
        padding: 15px 35px;
        font-size: 18px;
    }

    #project-navigation-button img {
        width: 23px;
        margin-right: 20px;
    }

    #project-navigation-expand {
        display: none;
    }

    .desktop-navigation-button {
        display: initial;
        text-decoration: none;
        color: white;
        font-family: 'qs-base';
        margin-right: 60px;
        font-size: 21px;
        text-transform: uppercase;
        position: relative;
    }

    #selected::before {
        content: '';
        position: absolute;
        height: 3px;
        background: var(--yellow);
        width: 30px;

    }
}