main {
    margin-top: 40px;
    width: 100%;
    height: 420px;
    /* background: blue; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.main-welcome-text {
    color: var(--brown);
    font-family: 'apple';
    display: flex;
    width: 275px;
    align-items: center;
    text-transform: uppercase;
}

.main-welcome-text img {
    width: 70px
}

.main-welcome-text span {
    font-size: 26px;
    margin-left: 20px;
}

#home-slogan {
    font-size: 58px;
    text-transform: uppercase;
    margin: 0;
    margin-top: 10px;
    color: var(--blue);
    font-family: 'quay';
    width: 414px;
    position: relative;
    padding-bottom: 15px;
}

#home-description {
    margin-top: 28px;
    font-family: "qs-base";
    font-size: 17px;
    width: 340px;
    line-height: 30px;
    color: var(--blue)
}

@media (min-width: 1400px){
    html{
        zoom: 75%
    }
    main{
        margin-top: 10px
    }
    .main-welcome-text img{
        width: 55px
    }
    .main-welcome-text span{
        font-size: 20px;
    }
    #home-slogan{
        font-size: 43px;
        width: 300px;
    }
    #middle-pattern-container{
        width: 490px
    }
    #home-description{
        margin-top: 20px;
    }
    
}