main{
    width: 100%;
    /* background: red; */
    display: flex;
    justify-content: center;
    background-image: url('../paper.png');
    background-size: 90%;
}

#page-welcome {
    height: fit-content;
    display: flex;
    justify-content: space-between;
    /* background: green; */
    width: 110px
}

#page-welcome img {
    width: 40px;
    object-fit: contain;
    height: auto;
    flex-shrink: 0;
}

#page-welcome h1 {
    padding: 0;
    margin: 0;
    font-size: 17px;
    font-family: "apple";
    color: var(--brown);
}

.page-title{
    font-family: 'quay';
    font-weight: 900;
    color: var(--blue);
    font-size: 25px;
    text-transform: uppercase;
    margin-top: 10px;
}

.page-title-text{
    font-family: 'qs-base';
    font-size: 13px;
    color: var(--blue);
    line-height: 23px;
}