.main-middle {
    width: 100%;
    height: 115px;
    background: var(--blue);
    margin-top: 23px;
    position: relative;
}

.main-middle-content {
    height: 100%;
    margin-left: 80px;
    display: flex;
}

#home-middle-items {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    z-index: 2
}

.home-middle-item {
    margin-right: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 300px;
    height: 100%;
}

.home-middle-item-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-middle-item-image img {
    width: 65px;
    margin-right: 0px;
}

.home-middle-item-text-container {
    border-right: 1px solid rgba(255, 255, 255, 0.45);
    width: 215px;
}

.home-middle-item p {
    color: white;
    margin: 0;
    padding: 0;
}

.item-title {
    width: 235px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 18px;
    font-family: 'qs-strong' !important
}

.item-description {
    font-family: "qs-base";
}

#first-middle-item {
    margin-right: 25px;
    padding-right: 13px;
    width: 333px;
}

#first-middle-item .home-middle-item-text-container {
    width: 225px;
    padding-right: 20px;
}

#last-middle-item .home-middle-item-image{
    margin-left: -12px;
}   

#last-middle-item .home-middle-item-text-container{
    margin-right: 20px;
    border: 0 !important;
}

#middle-pattern-container {
    height: 100%;
    background-image: url("../../azulejo.png");
    background-size: 450px;
    width: 308px;
    position: absolute;
    right: 0;
}