.main-lower {
    width: calc(100% - 160px);
    margin-top: 8px;
    display: flex;
}

.main-lower-content-left {
    /* background: red; */
    width: 450px
}

#lower-left-title {
    font-family: "tropical";
    text-transform: uppercase;
    font-size: 26px;
    color: var(--blue);
    margin-bottom: 0;
    margin-top: 10px;
}

#lower-left-text {
    color: var(--blue);
    margin-top: 0;
    font-family: "qs-base";
    font-size: 15px;
    line-height: 24px;
    width: 400px;
    margin-bottom: 6px;
    margin-top: 6px;
}

#lower-left-button {
    padding: 10px 20px;
    background: var(--blue);
    color: white;
    text-decoration: none;
    font-family: "qs-base";
    text-transform: uppercase;
    border-radius: 5px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 155px;
    height: 31px;
}

#lower-left-button img {
    width: 22px
}

#main-lower-content-right {
    width: 100%;
    padding-left: 10px;
}

.lower-cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 183px;
    /* background: red; */
}

.lower-card {
    width: 185px;
    height: 168px;
    margin-top: 14px;
    border-radius: 40px;
    border: 2px solid var(--yellow);
    background: #e9d7c291;
}

.card-head {
    border-radius: 40px 40px 0 0;
    height: 61px;
    /* display: flex; */
    justify-content: center;
    text-align: center;
}

.card-icon {
    width: 62px;
    border-radius: 100%;
    margin-top: -22px;
}

.card-title {
    padding: 0;
    margin: 0;
    color: var(--blue);
    font-family: 'qs-base';
    font-size: 19px;
    margin-top: -7px;
    text-transform: uppercase;
}

.card-image {
    background: var(--blue);
    width: 100%;
    height: 107px;
    border-radius: 0 0 40px 40px;
    overflow: hidden;
}

#card-prato img {
    width: 185px;
    margin-top: -29px;
}

#card-vinhos img {
    width: 185px;
    margin-top: -39px;
}

#card-petiscos img {
    width: 185px;
    margin-top: -29px;
}

/* Responsividade: Desktop */
@media (min-width: 1400px) {
    .main-lower {
        width: calc(100% - 320px)
    }

    .lower-cards {
        height: 266px
    }

    .lower-card {
        height: 200px;
        width: 250px;
        margin-top: -30px
    }

    .card-image {
        width: 250px;
        height: 140px
    }

    #card-ambiente img{
        width: 290px;
        margin-top: -45px;
        margin-left: -35px
    }

    #card-prato img {
        width: 250px;
        margin-top: -29px;
    }

    #card-vinhos img {
        width: 250px;
        margin-top: -39px;
    }

    #card-petiscos img {
        width: 250px;
        margin-top: -29px;
    }
}